* {
    direction: rtl;
    font-family: DroidKufi, sans-serif;

  }

  .content {
    //background-color: plum;
  }

  .icon {
    //color: white;
  }

  .page{
    font-family: DroidKufi, serif;
  }

  ion-title{
    font-family: DroidKufi, sans-serif;
  }

  ion-buttons{
    font-family: DroidKufi, sans-serif;
  }

  