page-get-shopp-item {

    .image-con{
        background-size: cover;
        min-height: 200px;
    }
    .imag{
        widows: 100px;
        height: 100px;
        align-self: center;
    }
    ion-slides{
        height: auto;

    }

}
